## Introducción

En estos ejercicios vamos a trabajar con los datasets alojado en la ruta del curso **/Dia-05/datasets/XXVideos** representan el conjunto de estadísticas de vídeos de Youtube en los países de Canadá, USA y México.

Las columnas del dataframe significan lo siguiente:

1. `video_id` : Id del vídeo
2. `trending_date` : Fecha de registro de estadísticas
3. `title` : Título del vídeo
4. `channel_title` : Nombre del canal de Youtube
5. `category_id` : Id de la categoría del vídeo
6. `publish_time` : Fecha de publicación del vídeo
7. `tags` : Etiquetas del vídeo
8. `views` : Vistas del vídeo en la fecha 'trending_date'
9. `likes` : Likes del video en la fecha 'trending_date'
10. `dislikes` : Dislikes del video en la fecha 'trending_date'
11. `comment_count` : Número de comentarios en la fecha 'trending_date'
12. `thumbnail_link` : Link a la miniatura del vídeo
13. `comments_disabled` : Comentarios desactivados
14. `ratings_disabled` : Likes/Dislikes desactivados
15. `video_error_or_removed` : Video borrado o con error en subida
16. `description` : Descripción del vídeo

Ejecuta la siguiente celda para el dataframe con el contenido del dataset.

## Ejercicio 1

Imprime los tipos de datos de las columnas de los 3 dataframes. ¿Tienen los mismos tipos de datos?

## Ejercicio 2 

Renombra las columnas `trending_date` y `publish_time` a los nombres `statistics_date` y `publish_date` respectivamente para los 3 paises.

## Ejercicio 3

Convierte las columnas `statistics_date` y `publish_date` de los 3 dataframe tipo de dato datetime64 con el formato **YYYY-MM-DD** para poder realizar funciones de agrupación y extracción de fechas.

## Ejercicio 4

¿En que año se subieron más vídeos para cada país? 

**Ten en cuenta que puede haber más de una fila que compartan el mismo video (`video_id`)**

## Ejercicio 5 

¿Qué mes del año 2017 tiene el record en visitas para el dataframe de vídeos de México?

## Ejercicio 6

¿Qué dataframe de los 3 tiene más valores nulos entre todas sus columnas? Calcula el porcentaje de columnas nulas de los dataframes utilizando la función `apply`

## Ejercicio 7

Reemplaza los valores nulos del dataframe con más valores nulos con los siguientes criterios:

- 1. Si la columna es de tipo int64 reemplaza el valor nulo por la moda de valores de esa columna. (La moda es el valor que más se repite dentro de los valores de la columna.)
- 2. Si la columna es de tipo string rellena cada valor nulo por el valor no nulo más próximo después de ese registro. (Estrategia de relleno)

## Ejercicio 8

¿Cuántos vídeos tienen audiciencia compartida entre los 3 dataframes? Es decir, que se hayan visto en USA, Canadá y México. 

**Puedes combinar los dataframes por la columna `video_id`**

## Ejercicio 9

¿Cuál es el vídeo más visto que se vió en los 3 países? ¿Y el que tuvo más likes?